**/.git
**/.gitignore
**/node_modules
**/dist
**/coverage
**/test-results
**/.angular
**/*.spec.ts
**/*.map
**/Thumbs.db
**/.DS_Store
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/.github
**/.vscode
**/README*.md
**/karma.conf.ci.js
